{% extends 'base.html.twig' %}

{% block titre %}
{% if action == "ajouter" %}
<h3>ProStages | Ajouter une Entreprise</h3>
{% else %}
<h3>ProStages | Modifier une Entreprise</h3>
{% endif %}
{% endblock %}

{% block titreStage %}
Formulaire
{% endblock %}

{% block contenuSupp %}

{{form_start(vueFormulaire)}}

<label> Nom </label>
{{form_widget(vueFormulaire.nom, {'attr':{'placeholder':"Titre de l'entreprise..."}})}}

<label> Activite </label>
{{form_widget(vueFormulaire.activite, {'attr':{'placeholder':"Activité de l'entreprise..."}})}}

<label> Adresse </label>
{{form_widget(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}

{% if action == "ajouter" %}
<br><button type="submit" class="btn btn-dark">Ajouter l'entreprise</button>
{% else %}
<br><button type="submit" class="btn btn-dark">Enregistrer les modifications</button>
{% endif %}

{{form_end(vueFormulaire)}}
{% endblock %}
