{% extends 'base.html.twig' %}


{% block titreStage %}
{% if action == "ajouter" %}
<h3>ProStages | Ajouter une Entreprise</h3>
{% else %}
<h3>ProStages | Modifier une Entreprise</h3>
{% endif %}
{% endblock %}

{% block contenuSupp %}

{{form_start(vueFormulaire, {'attr':{'novalidate':'novalidate'}})}}

<label> Nom </label>
{{form_widget(vueFormulaire.nom, {'attr':{'placeholder':"Titre de l'entreprise..."}})}}
{{ form_errors(vueFormulaire.nom) }}

<label> Activite </label>
{{form_widget(vueFormulaire.activite, {'attr':{'placeholder':"Activité de l'entreprise..."}})}}
{{ form_errors(vueFormulaire.activite) }}

<label> Adresse </label>
{{form_widget(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}
{{ form_errors(vueFormulaire.adresse) }}

<label> SiteWeb </label>
{{form_widget(vueFormulaire.siteWeb, {'attr':{'placeholder':"Site Web de l'entreprise..."}})}}
{{ form_errors(vueFormulaire.siteWeb) }}

{% if action == "ajouter" %}
<br><button type="submit" class="btn btn-dark">Ajouter l'entreprise</button>
{% else %}
<br><button type="submit" class="btn btn-dark">Enregistrer les modifications</button>
{% endif %}

{{form_end(vueFormulaire)}}
{% endblock %}
