{% extends 'base.html.twig' %}

{% block titreStage %}
Entreprises proposant des stages
{% endblock %}

{% block contenuSupp %}

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Activite</th>
            <th>Adresse</th>
            <th>SiteWeb</th>
            <th>Stages Proposé</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entreprise in entreprises %}

    <tr>
        <td>{{ entreprise.nom }}</td>
        <td>{{ entreprise.activite }}</td>
        <td>{{ entreprise.adresse }}</td>
        <td>{{ entreprise.siteWeb }}</td>
        <td><ul>
        {% if entreprise.stages|length > 0 %}
          {% for stage in entreprise.stages %}
            <li>
              <a href={{path('ProStages_stages',{id:stage.id})}}>{{stage.intitule}}</a>
            </li>
          {% endfor %}
        {% else %}
            <li>
                <b>Aucun</b>
            </li>
        {% endif %}
        </ul>
        </td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>
            <a class="nav-link" href="{{path('entreprise_edit',{'id':entreprise.id}) }}"><button type="submit" class="btn btn-dark">Modifier entreprise</button></a>

        </td>
        {% endif %}
    </tr>
{% else %}
    <tr>
        <td colspan="6">Aucune entreprise enregistré</td>
    </tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
