{% extends 'base.html.twig' %}



{% block body %}
<h1>Bienvenue sur la page d'accueil de ProStages</h1>

<ul>
  <li>
      <a href="{{path('ProStages_entreprises')}}">Filtré par Entreprises</a>
  </li>
  <li>
      <a href="{{path('ProStages_formations')}}">Filtré par Formations</a>
  </li>
</ul>


<h2>Liste de stage</h2>



<ul>
  <li>
    <a href="{{path('ProStages_stages',{id:"Data Analyst"})}}">Data Analyst</a>
  </li>
  <li>
    <a href="{{path('ProStages_stages',{id:"Pompier"})}}">Pompier</a>
  </li>
  <li>
    <a href="{{path('ProStages_stages',{id:"Mathematicien"})}}">Mathematicien</a>
  </li>
</ul>
{% endblock %}
