{% extends 'base.html.twig' %}

{% block titre %}
<h3> ProStages | Stage </h3>
{% endblock %}

{% block titreStage %}
Information - {{stage.intitule}}
{% endblock %}

{% block contenuSupp %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <dl>
        <dt>
          Mission
        </dt>
        <dd>
          {{stage.mission}}
        </dd>
        <dt>
          Adresse Mail
        </dt>
        <dd>
          {{stage.adresseMail}}
        </dd>
        <dt>
          Entreprise proposant le stage
        </dt>
        <dd>
          {{stage.entreprises.getNom}}
        </dd>
        <dt>
          Formation proposant le stage
        </dt>

        {% for formation in stage.getFormation %}
          {{formation.nom}}
          {% if loop.last == false %}
          ,
          {% endif %}
      {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock %}
