<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ProStages{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
      {% block titre %}
      <div class="container-fluid">
        <div class="row">
		        <div class="col-md-12">
			           <h3>
				               ProStages
			           </h3>
		        </div>
	      </div>
        </div>
        {% endblock %}

        {% block menu %}
        <div class="row">

        		<div class="col-md-12">
        			<nav class="navbar navbar-expand-lg navbar-light bg-light">
<i class="icon-filter-1"></i>
        				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        					<span class="navbar-toggler-icon"></span>

        				</button> <a class="navbar-brand" href="{{path('stage_index')}}">  Tout voir</a>
        				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        					<ul class="navbar-nav">
        						<li class="nav-item active">
        							 <a class="nav-link" href="{{path('ProStages_entreprises')}}"> | Entreprises</a>
        						</li>
        						<li class="nav-item">
        							 <a class="nav-link" href="{{path('ProStages_formations')}}"> | Formations</a>
        						</li>
                    <ul class="navbar-nav ml-md-auto">
                      <li class="nav-item">
        							    <a class="nav-link" href="{{path('entreprise_new')}}"> | Ajouter une entreprise </a>
        						  </li>
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                      <li class="nav-item">
        							    <a class="nav-link" href="{{path('stage_new')}}"> | Ajouter un stage </a>
        						  </li>
                    </ul>
        					</ul>
        				</div>
        			</nav>
        		</div>
        	</div>

        {% endblock %}

        {% block contenu %}
        <div class="row" style="margin-top:15px;">
		        <div class="col-md-12">
			          <div class="card">
				              <h5 class="card-header">
					                  {% block titreStage %}
                            Stages disponibles
                            {% endblock %}
				               </h5>
				               <div class="card-body">
                          {% block contenuSupp %}{% endblock %}
				               </div>
                </div>
			      </div>
		    </div>
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        {% endblock %}
      </div>
    </body>
</html>
